*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #000;
}

.todo{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

button{
    border: none;
    border-radius: 10px;
    background: #ccc;
    color: #fff;
}