<section class="edit-id">
<form action="" #f="ngForm" novalidate (ngSubmit)="onUpdate()">
    <img [src]="experiencia.imagen" alt="">
    <label for="nombre">Nombre de experiencia</label>
    <input type="text" id="nombre" name="nombre_de_experiencia" [(ngModel)]="experiencia.nombre_de_experiencia">
    <label for="desc">Descripcion</label>
    <input type="text" id="desc" name="descripcion_rapida" [(ngModel)]="experiencia.descripcion_rapida">
    <p><span style="color: #FAAF51;">Antes:</span>  {{experiencia.descripcion_rapida}}</p>
    <button class="btn btn-success">Guardar</button>
</form>
</section>
